.btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mt-10rem {
    margin-top: 10rem;
}

.ml-8rem {
    margin-left: 8rem;
}

.move-up {
    margin-top: -4rem;
}

.overflow-1{
    height: calc(100vh - 215px);
    overflow-y: scroll;
    overflow: auto;
}

.overflow-2{
    height: calc(100vh - 160px);
    overflow-y: scroll;
    overflow: auto;
}

th {
    position: sticky;
    top: 0;
    background: #eeeeee;
}

.table {
    margin: auto;
}

table.table tr td button.disp-on-hov {
    visibility: hidden;
}
table.table tr:hover td button.disp-on-hov {
    display:inline-block;
    visibility: visible;
}

table.table tr td a.disp-on-hov {
    visibility: hidden;
}
table.table tr:hover td a.disp-on-hov {
    display:inline-block;
    visibility: visible;
}